@using PlofPlantWeb.Models
@model HomePage
@{
    ViewData["Title"] = "Home Page";
}
<div class="row justify-content-center">
    <div class="col-2"></div>
    <div class="col-8">
@foreach (var kas in Model.Kassen)
{
    <div class="row mb-3">
        <button type="button" class="btn btn-primary">@kas.Naam</button>
    </div>
}
    </div>
    <div class="col-2"></div>
</div>