@{
    ViewData["Title"] = "Kas 1";
}
<h1>@ViewData["Title"]</h1>

<p>Temperature: Value here<a href="">></a></p>
<p>pH: Value here<a href="">></a></p>
<p>Co2: Value here<a href="">></a></p>
<p>Humidity: Value here<a href="">></a></p>
